.App{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1{
  text-align: center;
  color: 1b1b32;
  font-family: Tahoma, sans-serif;
  font-weight: 900;
  margin: 20px;
}